<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->

<div class="footer col-12">
  <div class="row"> 
    <div class="col-4 top flex-row">
      <span text-light text-weight-bold>98%</span><br>
      <span text-light>Merit Result</span><br><br>
      <span text-light>50+</span><br>
      <span text-light>Certified Teachers</span><br><br>
      <span text-light>20+</span><br>
      <span text-light>Campus Visits</span><br><br>
      <span text-light>95%</span><br>
      <span text-light>Campus Placement</span><br><br>
    </div>
      <div class="col-4 middle"><br>
        <div><img src="../../assets/images/logo.png" width="200" height="200" class="d-inline-block align-top" alt=""></div>
        <div>P.O. Box 65 Kurla Street Mumbai City, MS. IN. 3654125452</div>
      </div>
     <div class="col-4 bottom"><br>
        <h4>About Us</h4>
        <p> We help students across the arena to upgrade their education skills and bring closer to their career goals. 
            Our Campus offers the Best in Class School and College Management system. We’re one of the most Comprehensive school & college available in the Town.</p>
        <div>
          <h4>Follow us on:</h4>
          <!-- Facebook -->
          <span><i class="fa fa-facebook"></i> : Facebook - Schoolbee.com</span><br>

          <!-- Instagram -->
          <span><i class="fa fa-instagram"></i> : Instagram - Insta.SchoolBee</span><br>

          <!-- Twitter -->
          <span><i class="fa fa-twitter"></i> : Twitter - SMS.choolBee</span><br>
          
        </div>
      </div> 
  </div>
</div>
